@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    font-family: "Montserrat";
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FAFAFF;
    width: 450px;
    height: 500px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.41);
}

#RegisterBox {
    text-align: center;
    color: #423C3C;
    display: flex;
    flex-direction: column;
    height: 100%;

}

label {

    font-weight: bold;
}

#RegisterHeader {
    font-weight: bolder;
    font-size: 40px;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 100%;
}

.inputs {
    font-weight: bold;
    border-bottom-color: #5A829D;
    border-right: inherit;
    border-left: inherit;
    border-top: inherit;
    width: 400px;
    height: 30px;
    background-color: inherit;
}

.btn {
    font-weight: bold;
    font-size: 15px;
    color: #423C3C;
    border: inherit;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    background-color: #FEDBD2;
    cursor: pointer;
    transition: 0.3s all;
}

.btn:hover {
    -webkit-filter: brightness(90%);
}

a {
    text-decoration: none;
    color: #55819B;
}

#forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 0 3em 0;
}